@import url('./common.css');

main {
	align-items: center;
	justify-content: center;
	display: flex;
	height: calc(100vh - 50px);
}
tz-clock-analog[time="Europe/London"] {
	font-size: 2rem;
}

tz-clock-analog:not([time="Europe/London"]) {
	opacity: 0.9;
}
.clocks {
	font-size: 1.2rem;
	gap: 1.5em;
	display: flex;
	flex-direction: row;
	align-items: center;
}

#settings {
	float: right;
	background: none;
	border: none;
	cursor: pointer;
	opacity: 0.6;
	padding: 0.3em;

	&:hover {
		opacity: 1;
	}

	img {
		--size: 30px;
		width: var(--size);
		height: var(--size);
	}
}
